.register {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

.box {
  width: 100%;
  max-width: 440px;
  height: 600px;
  box-shadow: 0px 0px 8px 2px var(--shadow-color);
  background-color: var(--color-white);
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

.title {
  font-size: 27px;
  font-weight: 700;
  letter-spacing: .5px;
  color: var(--color-blue);
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.btn {
  width: 340px;
  height: 54px;
  border-radius: 8px;
  background-color: var(--color-blue);
  display: grid;
  place-content: center;
  letter-spacing: .5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-white);
  transition: all .2 ease-in-out;
}

#etc {
  padding: 20px;
}

@media screen and (max-width: 768px){
  .box {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    padding: 100px 0;
    border-radius: 0;
    box-shadow: none;
  }

  .menu {
    max-width: 80%;
  }
}