.input {
  width: 100%;
  max-width: 340px;
  height: 48px;
  background-color: var(--color-white);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgb(188, 188, 188);
  display: flex;
}

.input > input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0px 12px;
  font-size: 15px;
}

.pw > input {
  width: 85% !important;
}

#icon {
  width: 15%;
  display: grid;
  place-items: center;
  font-size: 18px;
}