.item {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-top: 2px solid var(--shadow-color);
}

#txt {
  font-size: 18px;
  padding-left: 15px;
}

#icon {
  font-size: 21px;
}