.item {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px #c9c9c9;
}

#txt {
  font-size: 18px;
  padding-left: 15px;
}

#icon {
  font-size: 21px;
}