.box {
  width: 250px;
  height: 100px;
  padding: 10px;
  display: grid;
  place-items: center;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 3px var(--shadow-color);
}

#date {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
}

#time {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 23px;
}