.home {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}

.detail {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.box {
  width: 90%;
  height: 85%;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.header>#title {
  font-size: 42px;
  font-weight: 600;
}

.header>#btn {
  width: 100px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  background-color: #d35757;
  border-radius: 8px;
  color: var(--color-white);
  display: grid;
  place-content: center;
  transition: all .15s ease-in-out;
  box-shadow: 0px 0px 2px 1px var(--shadow-color);
}

.header>#btn:hover {
  background-color: var(--color-white);
  color: #d35757;
}

.reservation {
  display: flex;
  gap: 10px;
  padding-top: 30px;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}