.navbar {
  width: 100%;
  height: 100%;
  min-width: 285px;
  display: grid;
  grid-template-rows: 150px;
  box-shadow: 0px 1px 10px 1px var(--shadow-color);
  overflow: auto;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--shadow-color);
  padding: 0 15px;
}

.logo {
}

.feature {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBtn {
  width: 70px;
  height: 35px;
  background-color: var(--color-blue);
  display: grid;
  place-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px var(--shadow-color);
  transition: all .15s ease-in-out;
}

.loginBtn > #txt {
  color: var(--color-white);
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.loginBtn:hover {
  background-color: var(--color-white);
}

.loginBtn:hover > #txt {
  color: var(--color-blue);
}

.list {
  padding: 20px 10px;
  width: 100%;
  height: 100%;
}

#subtitle {
  font-size: 17px;
  font-weight: 800;
  letter-spacing: .5px;
  padding: 10px 0px 30px 10px;
}

