.home {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}

.detail {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.box {
  width: 90%;
  height: 85%;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.header>#title {
  font-size: 42px;
  font-weight: 600;
}

.header>#btn {
  width: 100px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--color-blue);
  border-radius: 8px;
  color: var(--color-white);
  display: grid;
  place-content: center;
  transition: all .15s ease-in-out;
  box-shadow: 0px 0px 2px 1px var(--shadow-color);
}

.header>#btn:hover {
  background-color: var(--color-white);
  color: var(--color-blue);
}

.reservation {
  display: flex;
  gap: 10px;
  padding-top: 30px;
}

.wrap {
  width: 80%;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.info {
  width: 20%;
  height: 100%;
  padding: 30px;
  box-shadow: 0px 0px 5px 2px var(--shadow-color);
  display: grid;
  gap: 30px;
  place-items: center;
  border-radius: 20px;
}

#infoTitle {
  font-size: 21px;
  font-weight: 700;
}

#desc {
  font-size: 17px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalBox {
  background: white;
  padding: 30px 20px;
  border-radius: 12px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modalInput {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.descTime {
  font-size: 15px;
}

.dateInput > input {
  width: 120px;
  height: 30px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px 1px var(--shadow-color);
}

.hourSelect > select {
  width: 60px;
  height: 30px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px 1px var(--shadow-color);
}

.modalButtons > button {
  width: 60px;
  height: 30px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: var(--color-blue);
  color: var(--color-white);
  transition: all .15s ease-in-out;
  box-shadow: 0px 0px 3px 1px var(--shadow-color);
}

.modalButtons > button:hover {
  background-color: var(--color-white);
  color: var(--color-blue);
}